Landeeyo.DesignPatterns.DesignPatternsExampleLibrary/bin/Debug/Landeeyo.DesignPatterns.DesignPatternsExampleLibrary.dll
Landeeyo.DesignPatterns.DesignPatternsExampleLibrary/bin/Debug/Landeeyo.DesignPatterns.DesignPatternsExampleLibrary.pdb
Landeeyo.DesignPatterns.DesignPatternsExampleLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.DesignPatterns.DesignPatternsExampleLibrary/obj/Debug/Landeeyo.DesignPatterns.DesignPatternsExampleLibrary.csproj.FileListAbsolute.txt
Landeeyo.DesignPatterns.DesignPatternsExampleLibrary/obj/Debug/Landeeyo.DesignPatterns.DesignPatternsExampleLibrary.dll
Landeeyo.DesignPatterns.DesignPatternsExampleLibrary/obj/Debug/Landeeyo.DesignPatterns.DesignPatternsExampleLibrary.pdb
Landeeyo.DesignPatterns.Tests/bin/Debug/Landeeyo.DesignPatterns.Tests.dll
Landeeyo.DesignPatterns.Tests/bin/Debug/Landeeyo.DesignPatterns.Tests.pdb
Landeeyo.DesignPatterns.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.DesignPatterns.Tests/obj/Debug/Landeeyo.DesignPatterns.Tests.csproj.FileListAbsolute.txt
Landeeyo.DesignPatterns.Tests/obj/Debug/Landeeyo.DesignPatterns.Tests.dll
Landeeyo.DesignPatterns.Tests/obj/Debug/Landeeyo.DesignPatterns.Tests.pdb
Landeeyo.DesignPatterns.Tests/bin/Debug/Landeeyo.DesignPatterns.DesignPatternsExampleLibrary.dll
Landeeyo.DesignPatterns.Tests/bin/Debug/Landeeyo.DesignPatterns.DesignPatternsExampleLibrary.pdb
Landeeyo.DesignPatterns.Tests/bin/Debug/nunit.framework.dll
Landeeyo.DesignPatterns.Tests/bin/Debug/nunit.framework.xml
Landeeyo.DesignPatterns.Tests/bin/Debug/TestResult.xml
Landeeyo.DesignPatterns.Tests/obj/Debug/ResolveAssemblyReference.cache
